header {
  display: flex;
  align-items: center;
  gap: 40px; 
  padding: 10px 40px; 
}

.bloco-header:nth-child(3) {
  margin-left: auto;
}

.bloco-header {
  display: flex;
  align-items: center; 
  gap: 15px; 
}

.bloco-header p, .bloco-header h1 {
  margin: 0;
}




