header {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 10px 40px; 
}

.bloco-header {
  display: flex;
  align-items: center; 
  gap: 15px; 
}

.bloco-header p, .bloco-header h1 {
  margin: 0;
}




