.importante{
    color:blueviolet
}

.imagens{
    width: 50%; height: 50%;
}

body{
    background-color: darkmagenta;
    color: white;
display: flex;
align-items: center;
justify-content: space-around;
}
.links{
    display: flex;
    flex-direction: column;
}
a{
    margin: 20px;
    padding: 20px;
    background-color: rgb(255, 171, 240);
    color: rgb(120, 120, 120);
    border-radius: 20px;
}